{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block sesion %}
<div class="logeo">
    <!--<form method="POST" class="posrt-form">
                {% csrf_token %} 
                {{form.as_table}}
                <button type="submit" id="">Ingresar</button>
    </form>
-->    
    <a class="lin2" style="color:orange;text-decoration:none" href="{% url 'registro' %}">Registro</a>
    <a class="lin2" style="color:orange;text-decoration:none"  href="{% url 'recuperacion' %}">Recuperar contraseña</a>       
    <a class="lin2" style="color:orange;text-decoration:none"  href="{% url 'administracion' %}">admin</a> 
    <a class="lin2" style="color:orange;text-decoration:none"  href="{% url 'administracion' %}">funcionario</a>       
</div>	
{% endblock %}
