/* ESTILOS GENERALES */

div{
    border: 0px black solid;
	font-family: 'Roboto', sans-serif;
	margin:0px;
	padding:0px;
}

a,a:hover,a:visited {
	text-decoration:none;
}

.contenedor{
	margin: 0 auto;
}
/* ESTILOS DEL HEADER */
.header{
	width:100%;
}


#logo img{
    width: 60% ;
    height: auto;      
}
.navegacion .icon, a {
    color:white;
	text-decoration:none;
}

.navegacion {
    background-color: #655643;
    overflow: hidden;
	font-size: 17px;
	color: #F6F7BD;
	text-align: center;
    text-decoration: none;
	width:100%;
}

.enlacemenu{
	float: left;
    display: block;
	line-height:45px;
	height:45px;
}

.navegacion .enlacemenu a {
    display:inline-block;
    width:100%;
    height:100%;
}
.navegacion .enlacemenu:hover  {
    color: white;
	background-color:#E6AC27;
}
a.active {
    background-color: beige;
    color: black;
}

.enlacemenu span{
	margin-left:10px;
	margin-right:10px;
}


/* ESTILOS DEL CONTENIDO PRINCIPAL */




/* ESTILOS DEL FOOTER */


footer{
	background-color : purple;    
    color: black;
    
}

#footer{
    padding-bottom: 4%;
    font-size: 15px;
}
#footer h2{ 
    font-size: 85%;
    text-align: center;
}
#footer li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
   
}
#footer li img{
    width: 25px;
    border: 1px white solid;
    
}
#footer ul{
    text-align: center;
}

.logeo{
    border-radius: 2%;
    box-shadow: 3px 3px;
    margin :10px;
    border: 1px black solid;
}

.logeo a{
    margin: 20px;
}

.lin2{
    color: blue;
    font-size: 12px;
    text-decoration-line:underline;
}

.lin3{
    color: blue;
    font-size: 12px;
    text-decoration-line:underline;
    padding: 10px;    
}

.zona_box{
    background-color: beige;
    margin: 3%;
    border-radius: 15px;
    box-shadow: gray 5px 10px;
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    border: 1px black solid;
}

tit{
    text-align:left;
}

