
{% load staticfiles humanize %}
<!DOCTYPE>
<HTML>        
    <head>
        <title> Mobike - {% block title %}{% endblock %}   </title>
        <meta charset="UTF-8">          
		<link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">		
		<link rel="stylesheet" href="{% static 'css2/style.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'css2/nav.css' %}" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
		<script>
			function desplegarMenu() {
				var x = document.getElementById("barra");
				if (x.className === "navegacion") {
					x.className += " responsive";
				} else {
					x.className = "navegacion";
				}
			} 
		</script>
		{% block extra_head %}{% endblock %}    
    </head>
    <body>
		<div class="contenedor col-xs-12 col-sm-11 col-md-8 col-lg-8">
			<div class="header">
				<div class="row" id="parte_media">                    
					<div class="cuadro_imagen col-xs-12" id="logo">
						<img id="logo" src="{% static 'Img/mobike.gif' %}">
					</div>                                      
				</div>
				<div class="navegacion" id="barra">
					<div class="enlacemenu"><a class="" href="{% url 'index' %}"><span>Inicio<span></a></div>
					<div class="enlacemenu"><a class="active" href="#"><span>Historial<span></a></div>
					<div class="enlacemenu"><a href="#"><span>Arriendo<span> </a></div>
					<div class="enlacemenu"><a href="#"><span>Nosotros<span></a></div>    
					<div class="enlacemenu"><a href="#"><span>Contacto<span></a></div>
					<a href="javascript:void(0);" class="icon" onclick="desplegarMenu()">&#9776;</a>                                           
				</div> 	
			</div>
			<div class="row principal middle-xs first-xs"> 
	 
				HOLA, ESTO ES MOBIKE
					{% block content %}
					
					{% endblock %}                                          
			</div>

			<!--footer-->                
			<footer class= "row principal middle-xs first-xs">                        
				<div class="col-xs-12 col-md-8 first-md">
					<div id="footer">
						<h2>Mobike - Arquitectura de software 2018 ® - Nigun derecho Reservado </h2>
					</div>
				</div>
				<div class="col-xs-4 first">
					<div id="footer">
						<ul id="lista_redes">
							<!--<li><a href=""><img src="{% static 'Img/iconos/Linkedin.png' %}" ></a></li>-->
							<li><a href=""><img src="{% static 'Img/iconos/YouTube.png' %}" ></a></li>
							<li><a href=""><img src="{% static 'Img/iconos/WhatsApp.png' %}"> </a></li>                                   
						</ul>
					</div>
				</div>
			</footer>            
		</div>
    </body>

</HTML>